body{
    width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	-webkit-perspective: 1px;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

div.parallax {
	width: 100vw;
	height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

div.parallax:after {
	background-image: url(/images/hyde-hyde-black-mountain-research-centre.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	content: "";
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
}

div.content-outer {
	width: 100%;
	background-color: white;
	perspective: 2px;
	-webkit-perspective: 2px;
}

html, body {
	padding: 0px;
	margin: 0px;
}

.inp {
    border:none;
    border-bottom: 0.5px solid #888;
    padding: 5px 10px;
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }


 div.parallax2 {
	width: 100vw;
	height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

div.parallax2:after {
	background-image: url(/images/hyde-and-hyde-utsuroi-house.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	content: "";
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
}



.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .centeredd {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
  }